@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    background-color: #1992D4;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 2rem);
    padding: 1rem;
}

.sidebar-item {
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    align-items: center;
    fill: white;
    color: white;
    text-decoration: none;
    gap: 0.5rem;
}

.sidebar-item svg {
    justify-self: center;
}

a.sidebar-item svg {
    width: 50%;
}

.sidebar-item p {
    font-weight: bold;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 2rem;
}

.top-bar {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.top-bar svg {
    width: 1.2rem;
}

.search-box {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    align-items: center;
}

.search-box input {
    flex: 1;
    background-color: #E2E8F0;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 16px;
}

.account-box {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0 3rem;
}

.account-box img {
    width: 2.5rem;
}

.main-content {
    background-color: green;
}